*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {	
	font-family: "arial";
	font-size: 16px;
	background:wheat;	
}
#contenedor {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	}
.primero{
	background:#008080;
	width: 24%;
	padding: 1%;
	box-sizing: border-box;
}
.segundo{
	background: #deb887;
	width: 24%;
	padding: 1%;
	box-sizing: border-box;
}
.tercero{
	background:#8fbc8f;
	width: 24%;
	padding: 1%;
	box-sizing: border-box;
}
.cuarto{
	background: #00ffff;
	width: 24%;
	padding: 1%;
	box-sizing: border-box;
}
#contenedor img{
height:80%;
width:100%;
padding:1%;
margin:0 auto;
/*text-align: center;*/
}
.contacto{
	text-align: center;
} 
.contacto a{
	color:black;
}

.header{
	padding:0 2%;
	align-items: center;
	background: wheat;
	margin-bottom: 3%;
}

 .logo{
 flex-grow:5;
 background:wheat;
 margin-left:3%;
 margin-right: 3%;
 }
 .logo h1{
	text-align: left;
	background:wheat;
 }
  
 .nav{
	 flex-grow:1;
	 
 }

  nav .menu{
	  list-style-type: none;
	  display: flex;
	  justify-content: space-around;
	  background:blueviolet;
  }


  .menu li a{
	background-color: blueviolet;
	display:block;
	color:white;
	text-decoration: none;
  }

  .bannerTop{
	  text-align: center;
	  margin-bottom: 3%;
  }

h1,h2,p{
	text-align: center;
}

form{
	padding:20px;
}
label{
	margin:15px 0px;
	clear:both;
	display: block;
}
input{
	padding:4px;
	border:solid 1 px #262626;

}
::placeholder, value{
color:#31a3dd;
font-weight: bold;
}
input[type="submit"]{
	padding:10px 20px;
	text-transform: uppercase;
	cursor:pointer;
	background-color:#31a3dd;
	border:solid 1px #ededed;
}
input[type="submit"]:hover{
	background-color: rgb(186, 172, 226);
}
footer{
	background:#4682b4;
	color:wheat;
}


.contacto{
	text-align: center;
	font-size: 16px;
	background:wheat;
	}
.contacto img{
	text-align: center;
}
#linkedin, #llamada, #whatsapp, #Instagram, #facebook{
display:inline;
align-items: flex-end;
flex-direction: column;
flex-wrap: wrap;
}

@media screen and (min-width: 901px) and (max-width:1200px){
	body{
		background-color: beige;
	}
	#contenedor img{
		width: 100%;
	}
	.primero, .segundo, .tercero, .cuarto {
		flex-grow: 0.2;	
		}
	

}


@media screen and (max-width:900px) and (min-width: 600px){
	body{
		background-color: darkblue;
	}

	.header{
		flex-wrap: wrap;
		font-size: 1.3em;
		padding:0 5%;
	}

	.bannerTop{
		  display: none;
	  }
	#contenedor{
		flex-wrap: wrap;
		font-size: 1.3em;
		
	}
	#contenedor .article .primero, .article .segundo, .article .tercero, .article .cuarto .img{
		margin-left:10%;
		margin-right:10% ;
		width:10%;
	}
	#contenedor .article .text{
		margin-left:10%;
		margin-right:10% ;
		width:100%;
	}
	.primero{	
		width:100%;
		padding:3%;
	}
	.primero .img{
	max-height: 600px;
	overflow: hidden;
	}
	.segundo, .tercero {
	width:100%;
	padding:3%;
	}
	.cuarto{
	width:100%;
	padding:3%;
	}
}


@media screen and (max-width:599px) and (min-width: 0px) {
	body{
		background-color: brg(0, 38, 255, 0.692);
		font-size: 1.3em;
		
	}
	body img{
		width:60%;
	}
	.logo img{
		width:20%;
	}
	#contenedor{
		width:100%;
		flex-direction:column;
		font-size: medium;
	}
	footer{
		font-size: medium;
	}
	.img{
		width: 100%;
		text-align: center;
	}
	.contenedor label{
        font-size: medium;
	}
	h1{
		font-size: medium;
	}
	h2,p{
		font-size: small;
	}
	.contacto{
		width:40%;
		display:inline;
		font-size: medium;
	}
	.contacto img{
		width: 20%;
	}
	.contacto .ubicacion .iframe{
		width:50%;
	}
	#volver{
		font-size: medium;
	}
	.primero, .segundo, .tercero, .cuarto{
		width:100%;
		padding:4%;
	}
	.primero img, .segundo img, .tercero img, .cuarto img{ 
	width:40%;
	}

	#contenedor div{
	margin-top:5%;
	}
	.header{
	flex-wrap: wrap;
	padding:0 5%;
	
	}
	.logo,nav{
	width:100%;
	}
	.logo img{
	
	margin-left:40%;
	margin-right:40%;
	}
	.logo h1{
		text-align: center;
	}
	nav{
	text-align: center;
	margin-left:auto;
	margin-right:auto ;
	}
	nav li{
		text-align: center;
	
	}
  .menu{
	  flex-wrap: wrap;
	  margin-left:10%;
	margin-right:10% ;
	  
	  
  }
   .menu li{
	   width: 100%;
	   text-align: center;
	  
   }
     .menu li a{
		 padding: 2%;
		 background-color: grey;
		 display:block;
		 color:white;
		 text-decoration: none;
		 margin-bottom: 10px;
		 text-align: center;
		 
	 }
  .bannerTop{
	display:none;
	
  } 